@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.header-container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-around;
}

.logo {
  cursor: pointer;
}

.header-actions {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: space-around;
  width: 10vw;
}

.currency-switcher-container {
  cursor: pointer;
  height: 29px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Raleway";
  width: 38px;
}

.currency-switcher {
  cursor: pointer;
  height: 3px;
  width: 6px;
  left: 156px;
  top: 21.5px;
}

.currency-options {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 114px;
  padding: 10px;
  top: 65px;
  background-color: #FFF;
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}
.option {
  margin: 20px;
}

.option:hover {
  cursor: pointer;
}

.cart-overlay-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
}

.cart-upper {
  align-self: center;
  position: relative;
  top: 8px;
}

.cart-wheels-container {
  display: flex;
  justify-content: space-between;
  width: 14px;
  position: relative;
  bottom: 4.5px;
  left: 1.2px;
}

.cart-items {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 325px;
  max-height: 540px;
  top: 78px;
  z-index: 2;
  overflow-y: auto;
  box-shadow: 2px 10px 10px black;
  background-color: #FFF;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.my-bag, .bag-items-quanty {
  font-family: Raleway;
  font-size: 16px;
  line-height: 25px;
  color: #1D1F22;
  margin-top: 6px;
  margin-bottom: 25px;
}

.bag-items-quanty {
  font-weight: 500;
}

.my-bag {
  font-weight: 700;
  margin-left: 16px;
}

.cart-item-name-and-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 16px;
}

.cart-item-name-container {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 300;
  line-height: 160%;
  width: 136px;
  color: #1D1F22;
}

.cart-item-price {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  font-family: Raleway;
}

.btn-container {
  display: flex;
  justify-content: space-around;
  margin-top: 35px;
  margin-bottom: 20px;
}

.view-bag-btn, .checkout-btn {
  align-items: center;
  display: flex;
  background: #5ECE7B;
  height: 43px;
  justify-content: center;
  padding: 16px 32px;
  width: 140px;
  border: none;
  cursor: pointer;
}

.checkout-btn {
  color: #FFF;
}

.view-bag-btn {
  background: #FFF;
  border: 1px solid #1D1F22;
  transition: all ease 0.2s;
}

.view-bag-btn:hover {
  background: #1D1F22;
  color: #FFF;
}
.cart-item-quanty-and-image {
  display: flex;
}

.item-quanty-control-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
}

.cart-item-image {
  height: 137px;
  width: 105px;
  margin-right: 16px;
  margin-left: 10px;
}

.cart-item-quanty {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
}

.item-quanty-control-btn {
  align-items: center;
  background-color: #FFF;
  box-sizing: border-box;
  border: 1px solid #1D1F22;
  cursor: pointer;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
}

.total-price-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 289px;
}

.total-price-txt {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

.total-price-value {
  font-family: Raleway;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0em;
  line-height: 26px;
  text-align: right;
}

.cart-overlay-attribute-options {
  display: flex;
  gap: 6px;
}

.cart-overlay-attribute-option, .cart-overlay-chosen {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Source Sans Pro;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
  min-height: 24px;
  min-width: 24px;
  padding: 0 2.5px;
}

.cart-overlay-chosen {
  border: 1px solid #1D1F22;
  background-color: #FFF;
}

.cart-overlay-attribute-option {
  border: 1px solid #A6A6A6;
  color: #A6A6A6;
}
